@import "tailwindcss";
@config "../../tailwind.config.ts";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F6F8;
  color: #2D3032;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #D1D5DB;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #9CA3AF;
}
